<link rel="stylesheet" href="css/main.css">
<h3>Ecommerce ER Diagram</h3>
<form  action="/" method="get">
    <input type="submit" value="Query"></input>
</form>
<form  action="/table" method="get">
    <input type="submit" value="View Tables"></input>
</form>
<image src="images/ER_dig.png" height="80%"></image>